@media only screen and (min-width:555px){

    nav{
        max-width: 100%;
    }

    .navigation{
        
        grid-template-columns: repeat(6,auto);
    }

    .navigation li{
        display: block;
    }

    .navigation li a{
        text-align: center;
    }

    .navigation li:first-child{
        display: none;
    }

    .content{
        max-width: 825px;
    }

}
