.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    border:none;
    width:450px;
    height: 450px;
}

div{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.reset{
    border:none;
}

#div0, #div1, #div2{
    border-top: none;
}

#div0, #div3, #div6{
    border-left:none;
} 

#div2, #div5, #div8{
    border-right:none;
} 

#div6, #div7, #div8{
    border-bottom: none;
}
