*{
    
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image:linear-gradient(120deg,#f6d365,#fda085);
    max-width: 800px;
    margin: auto;
}

header, footer{
    color: black;
    text-align: center;
    font-family: 'Potta One', cursive;
}

.todolist{
    text-align: center;
}

ul{
    list-style-type: none;
}

.input-content{
    margin: 30px;
}

#content{
    width: 340px;
}

form input,
form #addBtn
{
    padding:0.5rem;
    font-size: 23px;
    border: none;
    background: white;
}

form #addBtn:hover{
    background-color: wheat;
}


li{
    text-align: left;
    font-size: 25px;
    display: flex;

}

.check{
    margin-right: auto;
}

.checked{
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.x{
    padding-right: 10px;
    }

.x p:hover{
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    background: #f6d365;
}

.text-content{
    text-align: center;
    background: rgb(255, 255, 255);
    border: solid 1px;
    margin-bottom: 20px;
}

.text-content h2{
    background-color: wheat;
}

.deleteList{
    text-align: center;
    background: rgb(255, 255, 255);
    border: solid 1px;
    margin-bottom: 20px;
}

.deleteList h2{
    background-color: wheat;
}

.list-body{
    display: inline-block;
    width: 385px;
}

