.content{
    max-width: 1250px;
    margin:50px;
}

.content .main-page{
    font-size: 20px;
    font-family: cursive;
}

.content{
    margin:20px;
}

.content .main-page .ch6-img{
    width: 100%;
}